### target&idea
**/target/*
**/.idea/*
**/*.iml

### SpringMVC
SpringMVC/HelloSpringMVC/*
SpringMVC/HelloSpringMVC_Annotate/*
SpringMVC/*

### Others
Test/*
Querydsl/*
SpringBoot/*
SpringCloud/*
maven-info.md

### jupyter notebook
*/.ipynb_checkpoints/*
.ipynb_checkpoints/*

### mvn
**/.mvn/**
**/mvnw**