*/target/*
*/.idea/*
SSM04-AuctionPlatform/*
#SSM04-AuctionPlatform/src/*
# SSM01/.idea/*
# SSM01/target/*
# SSM02-SimpleStudentManage/.idea/*
# SSM02-SimpleStudentManage/target/*
# SSM03-Tmall/.idea/*
# SSM03-Tmall/target/*
